#logo {
	clear: both;
	position: absolute;
	left: 870px;
	top: 40px
}

#name {
	float: left;
	position: relative;
	font-family: Helvetica, Arial, "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: xx-large;
	color: #0b5000;
	text-shadow: 3px 3px #A8A8A8;
}

nav {
	clear: left;
}

#page_title {
	color: #0b5000;
}

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#musicList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#musicList td, #musicList th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#musicList th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#musicList tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}